-- Fix for Subscription Tier Check Constraint
ALTER TABLE public.subscriptions DROP CONSTRAINT IF EXISTS subscriptions_tier_check;
ALTER TABLE public.subscriptions ADD CONSTRAINT subscriptions_tier_check CHECK (tier IN ('free', 'verified', 'vip'));

-- Ensure account_tier enum is also in sync (if used in columns)
-- DO c:\Users\Ayman-Altairi\FlutterProjects\Kasby-Investment-App\kasby\ BEGIN
--     ALTER TYPE account_tier ADD VALUE 'free';
-- EXCEPTION
--     WHEN duplicate_object THEN null;
-- END c:\Users\Ayman-Altairi\FlutterProjects\Kasby-Investment-App\kasby\;
