{
  "openapi": "3.1.0",
  "info": {
    "title": "Topup.dev API",
    "version": "1.0.0",
    "description": "Place and track digital game top-up / gift-card fulfilment orders.\n\n**Authentication** — send your API key as a Bearer token:\n`Authorization: Bearer tg_live_…`. Keys come in two environments:\n- `tg_live_…` — real orders (debits your prepaid balance, dispatches to the engine).\n- `tg_test_…` — **sandbox**: orders are simulated (no balance, no engine, no real delivery), so you can build your integration end-to-end for free. To simulate a *failed* order in the sandbox, set `player.uid` to `\"fail\"`.\n\n**Idempotency** — every order create must send an `Idempotency-Key` header that is **unique to that order**. Generate a fresh one per order (a UUID, or your own order id); a hardcoded or reused key returns the FIRST order again and creates nothing, which looks exactly like success. Test and live never share keys — reusing one across environments is rejected with 409.\n\n**Webhooks** — configure endpoints in your dashboard to receive `order.fulfilled` / `order.failed` / `order.refunded` events. For flexible-priced products (e.g. Razer Payment) also subscribe to `order.awaiting_confirmation`, which fires when the upstream price needs your OK (act via POST /api/v1/orders/{id}/confirm | /decline). Payloads are signed with HMAC-SHA256 (`tg-signature: t=<unix>,v1=<hex>`); the signed string is `${t}.${rawBody}`. Sandbox orders deliver too, with `livemode: false`."
  },
  "servers": [
    {
      "url": "https://topup.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Create and track fulfilment orders."
    },
    {
      "name": "Catalog",
      "description": "Discover services and their products + prices."
    },
    {
      "name": "Account",
      "description": "Workspace balance, ledger, and status."
    },
    {
      "name": "Webhooks",
      "description": "Manage delivery endpoints (admin key)."
    }
  ],
  "paths": {
    "/api/v1/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "description": "Your orders, newest first. Cursor-paginated: pass the previous response's `next_cursor` as `?cursor=`. A live key lists live orders; a test key lists sandbox orders.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "processing",
                "awaiting_confirmation",
                "fulfilled",
                "failed",
                "refunded"
              ]
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only the orders of one bulk batch (see POST /api/v1/orders/batch)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "An order id from a prior `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Pass as `?cursor=` for the next page; null when no more."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an order",
        "description": "Creates a fulfilment order for a catalog SKU. Requires an `ingest` or `admin` key and a unique `Idempotency-Key` header. With a `tg_test_` key the order is simulated.\n\n**This is not a price quote.** The response is the created order, which usually starts `queued`. For **flexible-priced products (e.g. Razer Payment)** the price is not known at create time — the engine learns it from the upstream a moment later and writes it to `confirmed_price_cents` (NOT `amount_cents`, which is the cost basis and is `0` for payment-link / BYO products). Get the final price by polling `GET /api/v1/orders/{id}` until `confirmed_price_cents` is set (or the order reaches `fulfilled`), or from the `order.fulfilled` webhook, which now carries `confirmed_price_cents`.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A **new, unique value for every order** — generate one per order (a UUID, or your own order id), never a constant and never a counter you might restart. Sending the same key twice returns the FIRST order again (200) and creates nothing, so a hardcoded key silently stops placing orders. Keys are also never shared between `tg_test_` and `tg_live_`: a key already used in the other environment is rejected with 409.",
            "example": "9f8b1c2e-4d3a-4f21-b8e7-6a0c5d9e3b17"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrder"
              },
              "examples": {
                "uid_topup": {
                  "summary": "UID top-up (e.g. PUBG UC) — direct",
                  "value": {
                    "sku": "pubg_60_uc",
                    "delivery": "direct",
                    "player": {
                      "uid": "512345678",
                      "region": "global"
                    }
                  }
                },
                "voucher_code": {
                  "summary": "Voucher code (no player needed)",
                  "value": {
                    "sku": "pubg_60_uc",
                    "delivery": "voucher"
                  }
                },
                "razer_payment": {
                  "summary": "Razer Payment (payment-link product) — flexible price, no uid",
                  "value": {
                    "sku": "payment_razer_payment",
                    "player": {
                      "PaymentLink": "https://pay.gold.razer.com/order/SUZ0…"
                    }
                  }
                },
                "sandbox_fail": {
                  "summary": "Sandbox — simulate a failed order",
                  "value": {
                    "sku": "pubg-uc-60",
                    "player": {
                      "uid": "fail"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent replay — this Idempotency-Key was already used, so this is the ORIGINAL order and nothing was created. If you did not intend a retry, your key generation is buggy: treat an unexpected 200 as an error, not a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "201": {
            "description": "Order created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "description": "insufficient_balance · subscription_past_due — top up to proceed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "idempotency_key_environment_mismatch — this Idempotency-Key was already used by a key from the other environment (test vs live). Test and live never share keys. Send a new unique key, and clear any sandbox keys out of your live data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/orders/batch": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a bulk order (batch)",
        "description": "Creates up to 100 orders of one SKU in a single call. Each item becomes a fully independent order (own id, own balance hold, fulfilled one-by-one) — the batch groups them for display and code export. Creation is all-or-nothing: an underfunded or invalid batch creates nothing. The `Idempotency-Key` header applies to the whole batch; a batch of N consumes N rate-limit slots. With a `tg_test_` key the batch is simulated (`player.uid=\"fail\"` fails that one item).",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A **new, unique value for every batch** — generate one per batch, never a constant. Sending the same key twice returns the FIRST batch again (200) and creates nothing. Keys are never shared between `tg_test_` and `tg_live_`; reusing one across environments is rejected with 409.",
            "example": "b7c4e2a1-9f36-4d58-8e21-3a5c0b1d7f94"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderBatch"
              },
              "examples": {
                "voucher_codes": {
                  "summary": "Redeem codes of one product (repeat the empty item N times)",
                  "value": {
                    "sku": "pubg_60_uc",
                    "delivery": "voucher",
                    "label": "Friday restock",
                    "items": [
                      {
                        "player": {}
                      },
                      {
                        "player": {}
                      },
                      {
                        "player": {}
                      }
                    ]
                  }
                },
                "uid_topups": {
                  "summary": "Direct top-ups for several players",
                  "value": {
                    "sku": "pubg_60_uc",
                    "delivery": "direct",
                    "items": [
                      {
                        "player": {
                          "uid": "512345678"
                        }
                      },
                      {
                        "player": {
                          "uid": "598765432"
                        }
                      }
                    ]
                  }
                },
                "same_player_many_times": {
                  "summary": "Many top-ups for ONE player — repeat the same item N times",
                  "value": {
                    "sku": "pubg_60_uc",
                    "delivery": "direct",
                    "label": "Big spender — 3× 60 UC",
                    "items": [
                      {
                        "player": {
                          "uid": "512345678"
                        }
                      },
                      {
                        "player": {
                          "uid": "512345678"
                        }
                      },
                      {
                        "player": {
                          "uid": "512345678"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent replay — this Idempotency-Key was already used, so this is the ORIGINAL batch and nothing was created. An unexpected 200 means your key generation is buggy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBatch"
                }
              }
            }
          },
          "201": {
            "description": "Batch created — every item is queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "description": "insufficient_balance (for the whole batch) · subscription_past_due.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "idempotency_key_environment_mismatch — this Idempotency-Key was already used by a key from the other environment (test vs live). Send a new unique key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/batches/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get a bulk-order batch",
        "description": "The batch with all of its orders and a rolled-up `status`: `queued`, `processing`, `awaiting_confirmation`, `partial` (some fulfilled, some failed), `fulfilled`, or `failed`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBatch"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/batches/{id}/codes": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Download a batch’s redeem codes (.txt / .csv)",
        "description": "File download (`Content-Disposition: attachment`). `txt` = one code per line, only items that delivered a code. `csv` = every item with columns `order_id,position,sku,product,status,code,created_at` (empty code for unfulfilled items, so the file reconciles against `item_count`).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "txt",
                "csv"
              ],
              "default": "txt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The codes file.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get an order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/orders/{id}/confirm": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Confirm an awaiting_confirmation order",
        "description": "For flexible-priced products the order may pause in `awaiting_confirmation` with a `confirmed_price_cents`. Confirm to proceed (charges the confirmed price).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/orders/{id}/decline": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Decline an awaiting_confirmation order",
        "description": "Rejects the confirmed price; the order fails and any hold is refunded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Declined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/services": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List services + their products",
        "description": "Platform services (bundles + batch flows) available to this workspace. `enabled` is whether the workspace opted in. Each service lists its products with prices (bundle members, or the single target product for batch flows).",
        "responses": {
          "200": {
            "description": "Services.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get prepaid balance",
        "description": "The workspace prepaid balance. Orders are charged against it; a `direct`/managed order needs `price_cents` available or it fails with `insufficient_balance`.",
        "responses": {
          "200": {
            "description": "Balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/transactions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List ledger transactions",
        "description": "The workspace ledger, newest first — deposits, order charges, refunds, subscription fees. Each entry is a signed `delta_cents` with the running `balance_after_cents`. Cursor-paginated via `next_cursor`.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "deposit",
                "subscription",
                "order_fee",
                "order_principal",
                "refund",
                "credit"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhook endpoints",
        "responses": {
          "200": {
            "description": "Endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook endpoint",
        "description": "Requires an `admin` key. The response includes the signing `secret` ONCE — store it to verify the `tg-signature` header (`t=<ts>,v1=<hex HMAC-SHA256(secret, \"<ts>.<body>\")>`).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (includes `secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "secret": {
                          "type": "string",
                          "description": "Plaintext signing secret — shown once."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/webhooks/{id}": {
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook endpoint",
        "description": "Admin key. Partial update of `url` / `events` / `status` (the secret is not changed).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WebhookEventName"
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "disabled",
                      "errored"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook endpoint",
        "description": "Admin key.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/webhooks/{id}/rotate": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Rotate a webhook signing secret",
        "description": "Admin key. Returns a new `secret` ONCE; the old secret stops validating immediately.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rotated (includes the new `secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "secret": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as a Bearer token: `tg_live_…` (live) or `tg_test_…` (sandbox)."
      }
    },
    "responses": {
      "Error": {
        "description": "Error. Stable machine code in `error.code`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Player": {
        "type": "object",
        "description": "Recipient/target. For most products provide `uid` (or `email`). **Payment-link products (e.g. Razer Payment)** take a `PaymentLink` instead — that URL is the order target, so `uid` is not required for them. A method may declare extra required fields (see `required_fields` on the catalog delivery option, e.g. `ServerId`); send each as a same-named key here and it is forwarded to the upstream as-is.",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Game user id. In sandbox, \"fail\" simulates failure."
          },
          "region": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "PaymentLink": {
            "type": "string",
            "description": "Razer-style payment-link products only: the full upstream payment URL (e.g. `https://pay.gold.razer.com/order/…`). This — not `uid` — is the target for these products, and the price is flexible (see `confirmed_price_cents`).",
            "example": "https://pay.gold.razer.com/order/SUZ0…"
          }
        },
        "additionalProperties": {
          "type": "string",
          "description": "Any method-declared required field, forwarded to the upstream."
        }
      },
      "CreateOrder": {
        "type": "object",
        "required": [
          "sku",
          "player"
        ],
        "properties": {
          "sku": {
            "type": "string",
            "description": "Catalog SKU.",
            "example": "pubg-uc-60"
          },
          "player": {
            "$ref": "#/components/schemas/Player"
          },
          "delivery": {
            "type": "string",
            "enum": [
              "direct",
              "voucher"
            ],
            "default": "direct",
            "description": "For products that offer both: `direct` tops up the player account (requires `player.uid`); `voucher` returns a redeem code (no player needed). Defaults to `direct`. Ignored for products that offer only one delivery type."
          },
          "callback_url": {
            "type": "string",
            "description": "Optional per-order webhook URL (in addition to dashboard endpoints)."
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "awaiting_confirmation",
              "fulfilled",
              "failed",
              "refunded"
            ]
          },
          "sku": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "player": {
            "$ref": "#/components/schemas/Player"
          },
          "provider": {
            "type": "string"
          },
          "is_test": {
            "type": "boolean",
            "description": "True for sandbox orders."
          },
          "attempt_count": {
            "type": "integer"
          },
          "amount_cents": {
            "type": "integer",
            "description": "Order cost basis. `0` for BYO / payment-link products (e.g. Razer Payment) — for those the real price is `confirmed_price_cents`, not this field."
          },
          "fee_cents": {
            "type": "integer",
            "description": "Topup.dev orchestration fee for this order."
          },
          "idempotency_key": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "fulfilled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "failed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "refunded_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "error_code": {
            "type": "string",
            "nullable": true
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "confirmed_price_cents": {
            "type": "integer",
            "nullable": true,
            "description": "For flexible-priced products (e.g. Razer Payment): the actual price once the engine learns it from the upstream — this, not `amount_cents`, is what the order is worth. `null` at create time and until the price is known."
          },
          "confirmation_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "delivered_code": {
            "type": "string",
            "nullable": true,
            "description": "Redeem/voucher code for code-delivery orders (e.g. delivery=\"voucher\"). Null for direct top-ups and until a code is delivered."
          },
          "batch_id": {
            "type": "string",
            "nullable": true,
            "description": "Set when the order was created as part of a bulk batch."
          },
          "batch_position": {
            "type": "integer",
            "nullable": true,
            "description": "0-based position within the batch."
          },
          "proofs": {
            "type": "array",
            "description": "Fulfillment-proof screenshots uploaded by the engine after delivery (e.g. a top-up confirmation). URLs are absolute and unauthenticated (the path UUID is the capability) so you can embed them directly in a customer receipt. Empty until a proof is uploaded.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "mime": {
                  "type": "string",
                  "example": "image/png"
                },
                "size_bytes": {
                  "type": "integer"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "CreateOrderBatch": {
        "type": "object",
        "required": [
          "sku",
          "items"
        ],
        "properties": {
          "sku": {
            "type": "string",
            "description": "Catalog SKU — one per batch.",
            "example": "pubg-uc-60"
          },
          "delivery": {
            "type": "string",
            "enum": [
              "direct",
              "voucher"
            ],
            "default": "direct"
          },
          "label": {
            "type": "string",
            "description": "Optional display name for the batch (max 120 chars)."
          },
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "description": "One entry per order. Voucher delivery: `player` may be empty. Direct delivery: each item needs `player.uid` or `player.email`.",
            "items": {
              "type": "object",
              "properties": {
                "player": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          }
        }
      },
      "OrderBatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "item_count": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "awaiting_confirmation",
              "partial",
              "fulfilled",
              "failed"
            ],
            "description": "Rolled up from the children. `partial` = some fulfilled, some failed."
          },
          "is_test": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code.",
                "enum": [
                  "unauthorized",
                  "forbidden_role",
                  "missing_idempotency",
                  "invalid_payload",
                  "sku_not_found",
                  "sku_disabled",
                  "no_source_available",
                  "insufficient_balance",
                  "subscription_past_due",
                  "rate_limited",
                  "workspace_suspended",
                  "workspace_not_found",
                  "order_not_found",
                  "wrong_state",
                  "upstream_rejected",
                  "transition_lost",
                  "plan_limit",
                  "not_found"
                ]
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "RequiredField": {
        "type": "object",
        "description": "A player field the upstream needs for this delivery option.",
        "properties": {
          "name": {
            "type": "string",
            "example": "PlayerId"
          },
          "type": {
            "type": "string",
            "example": "Number"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Allowed values for Select fields."
          }
        }
      },
      "DeliveryOption": {
        "type": "object",
        "properties": {
          "delivery": {
            "type": "string",
            "enum": [
              "direct",
              "voucher"
            ]
          },
          "price_cents": {
            "type": "integer",
            "description": "What you pay Topup.dev per order on this route."
          },
          "mechanism": {
            "type": "string",
            "example": "rpa"
          },
          "billing_mode": {
            "type": "string",
            "enum": [
              "managed",
              "byo"
            ]
          },
          "required_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequiredField"
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string",
            "example": "pubg_60_uc"
          },
          "game": {
            "type": "string",
            "example": "PUBG"
          },
          "product_label": {
            "type": "string",
            "example": "60 UC"
          },
          "region": {
            "type": "string",
            "example": "global"
          },
          "delivery_options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeliveryOption"
            }
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "icon_key": {
            "type": "string",
            "nullable": true
          },
          "flow": {
            "type": "string",
            "enum": [
              "bundle",
              "account_links",
              "quote_links"
            ]
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether this workspace opted into the service."
          },
          "position": {
            "type": "integer"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "balance_cents": {
            "type": "integer"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "example": "active"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "deposit",
              "subscription",
              "order_fee",
              "order_principal",
              "refund",
              "credit"
            ]
          },
          "description": {
            "type": "string"
          },
          "delta_cents": {
            "type": "integer",
            "description": "Signed: credits +, debits −."
          },
          "balance_after_cents": {
            "type": "integer"
          },
          "ref": {
            "type": "string",
            "nullable": true,
            "description": "Deposit txhash / invoice id, if any."
          },
          "order_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookEventName": {
        "type": "string",
        "enum": [
          "order_fulfilled",
          "order_failed",
          "order_refunded",
          "order_awaiting_confirmation",
          "balance_low",
          "inventory_low"
        ]
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventName"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "errored",
              "disabled"
            ]
          },
          "secret_masked": {
            "type": "string",
            "nullable": true,
            "description": "Masked secret; full value only on create/rotate."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_delivered_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CreateWebhook": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "https only; public host (no private/internal addresses)."
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventName"
            },
            "minItems": 1
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "description": "The body POSTed to your endpoint on each event. Delivered with headers `tg-event` (e.g. `order.fulfilled`) and `tg-signature` (`t=<unix>,v1=<hmac>`). Verify by recomputing `HMAC_SHA256(secret, \"<t>.<rawBody>\")` and constant-time comparing to `v1`. Endpoints that keep failing are auto-paused (status `errored`).",
        "properties": {
          "type": {
            "type": "string",
            "description": "Dotted event name. `order.awaiting_confirmation` fires for flexible-priced products (e.g. Razer Payment) when the upstream price needs the shop’s OK — the payload carries `confirmed_price_cents` + `confirmation_expires_at`; act with POST /api/v1/orders/{id}/confirm | /decline before it expires (5-minute window).",
            "enum": [
              "order.fulfilled",
              "order.failed",
              "order.refunded",
              "order.awaiting_confirmation",
              "balance.low",
              "inventory.low"
            ]
          },
          "livemode": {
            "type": "boolean",
            "description": "false for sandbox/test-key orders."
          },
          "order": {
            "type": "object",
            "description": "Present on order.* events.",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "sku": {
                "type": "string"
              },
              "product": {
                "type": "string"
              },
              "provider": {
                "type": "string"
              },
              "test": {
                "type": "boolean"
              },
              "amount_cents": {
                "type": "integer",
                "description": "Cost basis. `0` for BYO / payment-link products — see `confirmed_price_cents`."
              },
              "fee_cents": {
                "type": "integer"
              },
              "confirmed_price_cents": {
                "type": "integer",
                "nullable": true,
                "description": "Actual price for flexible-priced products (e.g. Razer Payment). Read this — not `amount_cents` — for the order’s real value. `null` for fixed-price products."
              },
              "confirmation_expires_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "idempotency_key": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "fulfilled_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "failed_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "refunded_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "error_code": {
                "type": "string",
                "nullable": true
              },
              "error_message": {
                "type": "string",
                "nullable": true
              },
              "delivered_code": {
                "type": "string",
                "nullable": true,
                "description": "Voucher/redeem code, null for top-ups."
              },
              "proofs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "mime": {
                      "type": "string",
                      "example": "image/png"
                    },
                    "size_bytes": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}